@font-face {
  font-family: 'FerriteCoreDX-Display';
  src: url('FerriteCoreDX-Display.ttf')
}


:root {
  --background-colour: #5e7281;
}

body {
  margin: 0;
  background-color: var(--background-colour);
}

.background_img {
  width: 100%;
}